#############################
# Python
#############################

__pycache__/
*.py[cod]
*$py.class

#############################
# Virtual Environment
#############################

venv/
.venv/
env/
ENV/

#############################
# Jupyter
#############################

.ipynb_checkpoints/

#############################
# VS Code
#############################

.vscode/

#############################
# PyCharm
#############################

.idea/

#############################
# Logs
#############################

*.log

#############################
# Environment variables
#############################

.env
.env.*

#############################
# OS Files
#############################

Thumbs.db
.DS_Store

#############################
# Temporary
#############################

*.tmp
*.temp

#############################
# Python cache
#############################

*.pyc

#############################
# Build
#############################

build/
dist/

#############################
# Secrets
#############################

*.pem
*.key

#############################
# Render
#############################

.render/

#############################
# Local Database
#############################

*.db
*.sqlite3

target/
*.class

#############################
# Jupyter Runtime
#############################

.virtual_documents/